.btnUpload {
  margin-top: 10px;
  padding: 10px;
  background-color: blue;
  color: #fff;
  border: none;
  border-radius: 10px;
}
.UploadFilesStyle {
  position: fixed;
  width: 17%;
  padding: 5px;
  top: 57%;
  left: 1%;
}

.UploadFilesStyle > h3 {
  padding: 20px 0;
}

.selectedItem {
  width: 88%;
  text-align: center;
  margin: -2% 15% 2% auto;
}

.sWrapper {
  width: 100%;
  margin-left: -10%;
  display: flex;
  justify-content: center;
}
.fileWrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  list-style: none;
  justify-content: center;
}

.fileWrapper li {
  width: 30%;
}

.fileWrapper .videos {
  width: 100%;
}

.fileWrapper:has(.audios) {
  flex-direction: column;
  width: 200%;
  gap: 0;
}
.fileWrapper:has(.audios) li {
  width: 100%;
}
.fileWrapper:has(.videos) li video {
  width: 100%;
}

.noOfFiles {
  margin: 10px auto;
}

.fileDetail {
  display: flex;
  gap: 10px;
  margin: 10px;
  align-items: center;
}

.fileDetail:hover {
  cursor: pointer;
}

.fileWrapper {
  margin-bottom: 10px;
}

@media (width < 1195px) {
  .fileWrapper li {
    width: 45%;
  }
}

.fileDetail a {
  width: 100px !important;
  text-decoration: none;
}

.player {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: #bcd4d6ea;
}
.audioPlayer {
  visibility: hidden;
}

.player button {
  padding: 5px;
  background-color: #fff;
  margin: 10px;
  color: black;
  border: none;
}

.player button:hover {
  cursor: pointer;
}

.cancel {
  padding: 5px;
  background-color: #fff;
  color: black;
  border: none;
  position: fixed;
  right: 1%;
  bottom: 1%;
  z-index: 2;
}
@media (width <= 770px) {
  .fileWrapper {
    flex-direction: column;
  }
  .fileWrapper li {
    width: 100%;
    margin: 10px 0;
  }
  .selectedItem {
    margin-top: 10%;
  }
  .UploadFilesStyle {
    z-index: -1;
  }
}

.musicName {
  position: fixed;
  bottom: 5%;
  left: 5%;
  z-index: 2;
}

.musicICon {
  padding: 5px;
  background-color: #fff;
  border: none;
}
