.btnUpload {
  margin-top: 10px;
  padding: 10px;
  background-color: blue;
  color: #fff;
  border: none;
  border-radius: 10px;
}
.UploadFilesStyle {
  position: fixed;
  width: 17%;
  padding: 5px;
  top: 57%;
  left: 1%;
}

.UploadFilesStyle > h3 {
  padding: 20px 0;
}

.selectedItem {
  width: 88%;
  text-align: center;
}

.fileWrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  list-style: none;
  justify-content: center;
}

.fileWrapper li {
  width: 30%;
  margin: 0, 10px;
}

.fileWrapper:has(.audios) {
  flex-direction: column;
}

.fileWrapper:has(.videos) li video {
  width: 100%;
}

.noOfFiles {
  margin: 10px auto;
}

.fileDetail {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  width: 250px;
}

.fileWrapper:has(.Document) {
  width: 200%;
  margin: 0 auto;
  justify-content: flex-start;
}

.fileDetail span {
  padding: 10px;
}

@media (width < 1195px) {
  .fileWrapper li {
    width: 45%;
  }
}

.Document a {
  width: 100px !important;
  text-decoration: none;
  /* border: 1px solid black; */
}

@media (width <= 770px) {
  .fileWrapper {
    flex-direction: column;
  }
  .fileWrapper li {
    width: 100%;
    margin: 10px 0;
  }
}
