.loginWrapper button {
  width: auto;
  padding: 10px;
  border: none;
}

.loginWrapper button:hover {
  cursor: pointer;
}

@media (width < 770px) {
  .loginWrapper {
    margin: auto;
    width: 80vw;
    height: 70vh;
    display: grid;
    place-items: center;
  }
}
